numpy
tqdm
yacs
h5py
scipy
numba
smplx
gdown
PyYAML
joblib
pillow
trimesh
pyrender
progress
filterpy
matplotlib
tensorflow==1.15.4
tensorboard==1.15.0
scikit-image
scikit-video
opencv-python==4.1.2.30
llvmlite
json5
git+https://github.com/mattloper/chumpy.git
git+https://github.com/zc402/yolov3-pytorch.git
git+https://github.com/zc402/multi-person-tracker.git
git+https://github.com/zc402/RT-VIBE.git
git+https://github.com/giacaglia/pytube.git
